    <!-- Call to action Start -->
    <section id="call-to-action">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="block">
                <h2>We love holding events and taking pictures.</h2>
                <p style="font-size:16px">We host meet and greets once a month. Join us for epic events, unforgettable moments, and picture-perfect memories across Eorzea!</p>
                <a class="btn btn-default btn-call-to-action" href="https://gumi.pixieset.com/" target="_blank" rel="noopener noreferrer">Check out our album</a>
              </div>
            </div>
          </div>
        </div>
      </section>