        <!-- contact form start -->
        <section id="contact-form">
            <div class="container">
              <div class="row">
                <form action="https://formkeep.com/f/384e5da0cee4" accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
                <div class="col-md-6 col-sm-12">
                  <div class="block">
                    
                      <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="Your Character Name">
                      </div>
                      <div class="form-group">
                        <input type="email" name="email" class="form-control" placeholder="Email Address">
                      </div>
                      <div class="form-group">
                        <input type="text" name="subject" class="form-control" placeholder="Subject">
                      </div>
                    
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="block">
                    
                      <div class="form-group-2">
                        <textarea class="form-control" name = "message" rows="3" placeholder="Your Message"></textarea>
                      </div>
                      <button class="btn btn-default" type="submit">Send Message</button>
                    </form>
                  </div>
                </div>
              </div>
              <div id="contact-box" class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="block">
                    <h2>Stop By For A visit</h2>
                    <ul class="address-block">
                      <li>
                        <i class="fa fa-map-marker"></i><a href= "https://na.finalfantasyxiv.com/lodestone/community_finder/e1eb3e289495e6d57fef508a6f8c6e8ef98e5679/"target="_blank" rel="noopener noreferrer">Plot 29 in Ward 6 of Empyreum | Crystal, Brynhilder</a>
                      </li>
                    </ul>
                    <ul class="social-icons">
                      <li>
                        <a href="https://x.com/FC_GUMI" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/gumi_kupo/" target="_blank" rel="noopener noreferrer"><i class="fa fa-instagram"></i></a>
                      </li>
                      <li>
                        <a href="https://www.youtube.com/channel/UCWkasRqK5gXlXGXhNbcB-MQ" target="_blank" rel="noopener noreferrer"><i class="fa fa-youtube"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-6 col-sm-12">
                  <div class="block">
                    <h2>Event Calendar::PST</h2>
                    <iframe src="https://calendar.google.com/calendar/embed?src=mogshipenterprise%40gmail.com&ctz=America%2FLos_Angeles" style="border: 0" width="550" height="400" frameborder="0" scrolling="no"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </section>