    <!-- Content Start -->
    <section id="testimonial">
        <div class="container">
          <div class="row">
            <div class="section-title text-center">
              <h2>Fun Facts About Us</h2>
              <p>Greetings, fellow adventurers! Mogship Enterprise is is a home to a close-knit group of friends that enjoy doing the content together! Whether its treasure maps, savage raids, photoshoots, casual hangouts or just a place to call home, we're excited to have you with us! We believe in positivity, inclusivity, and supporting each other as we travel through the stars. No experience is needed. Join us, and be a part of the GUMI crew!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="block">
                <ul class="counter-box clearfix">
                  <li>
                    <div class="block">
                      <i class="ion-ios-chatboxes-outline"></i>
                      <h4 class="counter">94452</h4>
                      <span>Quests Cleared</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-glasses-outline"></i>
                      <h4 class="counter">52</h4>
                      <span>Active Members</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-compose-outline"></i>
                      <h4 class="counter">3050148</h4>
                      <span>Credits Earned</span>
                    </div>
                  </li>
                  <li>
                    <div class="block">
                      <i class="ion-ios-timer-outline"></i>
                      <h4 class="counter">72564</h4>
                      <span>Play Time</span>
                    </div>
                  </li>
  
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="testimonial-carousel">
                <div id="testimonial-slider" class="owl-carousel">
                  <div>
                      <img src="img/cotation.png" alt="IMG">
                      <p>"I hope everyone has a great day and enjoy their time here!"</p>
                      <div class="user">
                        <img src="img/dark.jpg" alt="People">
                        <p><span>Dark Slumber</span> GUMI Pilot</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/cotation.png" alt="IMG">
                      <p>"Carbuncles are so cute! Let me know if you want one!"</p>
                      <div class="user">
                        <img src="img/fel.jpg" alt="People">
                        <p><span>Feldar Aulsoran</span> Lunar Plankton</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/cotation.png" alt="IMG">
                      <p>"If we can laugh together, we can work together, see you at the next Savage Raid!"</p>
                      <div class="user">
                        <img src="img/nera.jpg" alt="People">
                        <p><span>Nera Hyorei</span> Lunar Plankton</p>
                      </div>
                  </div>
                  <div>
                    <img src="img/cotation.png" alt="IMG">
                      <p>"Greetings adventurer of the stars~ Join the our crew aboard as we explore the vast unknown, kupo!"</p>
                      <div class="user">
                        <img src="img/mogumi.jpg" alt="People">
                        <p><span>Mogumi Kupoyumi</span> KUPO SUPREME</p>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>