 <!-- Portfolio Start -->
 <section id="portfolio-work">
    <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div class="portfolio-contant">
                <ul id="portfolio-contant-active">
                    <li class="mix Branding">
                      <a href="fc-meetings.html " >
                        <img src="img/portfolio/work1.jpg" alt="">
                        <div class="overly">
                          <div class="position-center">
                            <h2>FC Meetings</h2>
                            <p>Monthly get-togethers to celebrate success</p>
                          </div>
                        </div>
                      </a>
                  </li>
                  <li class="mix Websites">
                    <a href="glam-contests.html" >
                      <img src="img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Glam Contests</h2>
                          <p>Show off your unique fashion taste in-game </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="mount-farms.html" >
                      <img src="img/portfolio/work3.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Mount Farming</h2>
                          <p>Get mounts from legacy dungeons or raids </p>
                        </div>
                      </div>
                      
                    </a>
                  </li>
                  <li class="mix design">
                    <a href="dungeon-raids.html" >
                      <img src="img/portfolio/work4.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Dungeons and Raids</h2>
                          <p>Explore beautiful set pieces and lost lore </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Video">
                    <a href="savage-raids.html" >
                      <img src="img/portfolio/work5.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Savage Content</h2>
                          <p>Tackle hardcore content with detail guidance </p>
                          
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="seasonal-events.html" >
                      <img src="img/portfolio/work6.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Seasonal Celebration</h2>
                          <p>Celebrate the season and toast to the future</p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
</section>