<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}A dedicated Free Company{% endif %}</title>
    <meta name="description" content="{{ page.description | default: site.description | strip }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ '/favicon.ico' | relative_url }}?" type="image/x-icon">
    <link rel="icon" href="{{ '/favicon.ico' | relative_url }}?" type="image/x-icon">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ '/css/owl.carousel.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/ionicons.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/animate.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/responsive.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/css/lightbox.css' | relative_url }}">
    
    <!-- Js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ '/js/bootstrap.min.js' | relative_url }}"></script>
    <script src="{{ '/js/owl.carousel.min.js' | relative_url }}"></script>
    <script src="{{ '/js/plugins.js' | relative_url }}"></script>
    <script src="{{ '/js/min/waypoints.min.js' | relative_url }}"></script>
    <script src="{{ '/js/jquery.counterup.js' | relative_url }}"></script>
    <script src="{{ '/js/lightbox.js' | relative_url }}"></script>
    <script src="{{ '/js/main.js' | relative_url }}"></script>


  </head>
  <body>



    <!-- Header Start -->
  <header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <!-- header Nav Start -->
          <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ '/' | relative_url }}">
                  <img src="{{ '/img/logo3.png' | relative_url }}" alt="Logo">
                </a>
              </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ '/' | relative_url }}">Home</a></li>
                    <li><a href="{{ '/perks/' | relative_url }}">Perks</a></li>
                    <li><a href="{{ '/gallery/' | relative_url }}">Gallery</a></li>
                    <li><a href="{{ '/officers/' | relative_url }}">Officers</a></li>
                    <li><a href="{{ '/#contact-form' | relative_url }}">Contact</a></li>
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
          </div>
        </div>
      </div>
    </header><!-- header close -->

    {{ content }}

    <!-- footer Start -->
    <footer id = "footer">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p>&copy; 2026 mogshipenterprise.com. Built for the Mogship Enterprise community.</p>
              <p>FINAL FANTASY XIV © 2010 - 2026 SQUARE ENIX CO., LTD. All Rights Reserved.</p>
            </div>
          </div>
        </div>
      </footer>
              
              
    <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
    <script>
      kofiWidgetOverlay.draw('gumifc', {
        'type': 'floating-chat',
        'floating-chat.donateButton.text': 'Support me',
        'floating-chat.donateButton.background-color': '#794bc4',
        'floating-chat.donateButton.text-color': '#fff'
      });
    </script>
    <button id="scrollTopButton" class="scroll-top-button" title="Go to top" aria-label="Back to top">Top</button>
    
  
  </body>
</html>    
